<html>
    <title>Anonyminity</title>
    <body>
        <p>Hello. Welcome to Anonymity</p>
        <p>Enter a channel name to get connected</p>
        <form action="/" method="POST">
            <input type="text" name="channelID">
            <input type="submit">
        </form>
    </body>



</html>