<!DOCTYPE html>
<html>
<head>
	<title>Authentication</title>
</head>
<body>
	<p>Please re-enter your password to view your transaction</p>
	<p>We use state-of-the-art ECDSA encryption and generate specific keys for all out users</p>
	<p>this ensures that NO ONE. NOT EVEN US. CAN VIEW YOUR TRANSACTION DATA</p>
</body>
</html>